PROJECT_NAME=Admission Agent API
ENVIRONMENT=development

# 1. Take your Neon string: postgresql://neondb_owner:xyz...
# 2. Convert it to:        postgresql+asyncpg://neondb_owner:xyz...
DATABASE_URL=postgresql+asyncpg://neondb_owner:your_password@your-neon-host.neon.tech/neondb

# Credentials for filebase bucket
FILEBASE_ACCESS_KEY=your_filebase_access_key
FILEBASE_SECRET_KEY=your_filebase_secret_key
FILEBASE_BUCKET_NAME=your_bucket_name

GOOGLE_API_KEY=your_google_api_key
GEMINI_MODEL=gemini-3.5-flash-lite

# JWT auth
JWT_SECRET_KEY=your_jwt_secret_key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# credentials for mail sender
SMTP_KEY=your_smtp_key
SENDER_EMAIL=your_sender_email@example.com
SENDER_NAME=Admission Agent
BREVO_API_KEY=your_brevo_api_key

CI-TESTING-DB=postgresql+asyncpg://neondb_owner:your_password@your-ci-branch-host.neon.tech/neondb