# ==============================================================================
# CORE WEB & ENVIRONMENT FRAMEWORKS (Phase 1)
# ==============================================================================
fastapi[standard]==0.115.0
pydantic>=2.7.0
pydantic-settings>=2.2.1
python-dotenv>=1.0.1

# ==============================================================================
# DATABASE PLUMBING & MIGRATIONS (Phase 1, 3)
# ==============================================================================
sqlalchemy>=2.0.28
asyncpg>=0.29.0
alembic>=1.13.1

# ==============================================================================
# AUTHENTICATION & SECURITY TOOLS (Phase 2)
# ==============================================================================

pyjwt[crypto]>=2.8.0

passlib==1.7.4
bcrypt==4.0.1
# ==============================================================================
# AI ORCHESTRATION, LLM & VECTOR DATABASE EXTENSIONS (Phase 4, 6, 7)
# ==============================================================================
llama-index-core>=0.10.0
llama-index>=0.10.20
llama-index-llms-google-genai>=0.9.0
llama-index-vector-stores-postgres>=0.1.0
llama-index-embeddings-google-genai
llama-index-readers-s3
s3fs


# ==============================================================================
# AUTOMATED TESTING SUITE (Used consistently across all Phases)
# ==============================================================================
pytest>=8.1.1
pytest-asyncio>=0.23.5
httpx>=0.27.0
pytest-cov==6.0.0


#===============================================================================
# RELATED TO WRITING IN S3 BUCKET
#===============================================================================
boto3>=1.35.0
aioboto3>=13.0.0

# TO READ PDFS

python-docx>=1.0.0
openpyxl>=3.1.2
PyPDF2>=3.0.0
pypdf>=3.15.0
llama-index-readers-file>=0.6.0


# to send mail
httpx




